<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeckKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DeckKitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Freecell-Mac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Freecell-MacTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Freecell-MacUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Freecell.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FreecellKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>FreecellKitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>96A363F1237CF0FC005C45FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A36407237CF0FD005C45FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A36412237CF0FD005C45FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A36431237CF138005C45FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A36458237E33BF005C45FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A36460237E33C0005C45FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96CA9AD4238F0E4900C34A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96CA9AE8238F0E4B00C34A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96CA9AF3238F0E4B00C34A60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
